/* Write your CSS here */
.app-container {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.destinations-search-container {
  justify-self: center;
  align-self: center;
}

.destinations-list {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 50px;
  justify-content: space-between;
}
